<form method="POST">
  <fieldset>
    <input type="text" name="title" value="<%= book.title %>">
    <input type="text" name="author" value="<%= book.author %>">
    <input type="text" name="description" value="<%= book.description %>">
    <input type="text" name="categories" value="<%= book.categories %>">
    <input type="text" name="ISBN_10" value="<%= book.ISBN_10 %>">
    <input type="text" name="ISBN_13" value="<%= book.ISBN_13 %>">
    <button type='submit'>Details</button>
  </fieldset>
</form>