<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
        <h1>Here are the results that matches your search:</h1>
        <ul>
          <% bananas.forEach(book => { %>
            <li><%= book.title %></li>
            <li>ISBN 10 Code: <%= book.ISBN_10 %></li>
            <li>ISBN 13 Code: <%= book.ISBN_13 %></li>
            <p>Author: <%= book.author %></p>
            <img src="<%= book.image %>" />
            <p>Description: <%= book.description %></p>
            <li>Categories: <%= book.categories %></li>
            <br>
            <% }); %>
        </ul>
    </main>
  </body>
</html>