<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/reset.css" rel='stylesheet'>
    <link href="styles/base.css" rel='stylesheet'>
    <link href="styles/layout.css" rel='stylesheet'>
    <title>Book Collection</title>
</head>
<body>
    <nav>
        <h3>Best Books!</h3>
        <h3>Search by Author or Title</h3>
    </nav>
    <form action ="/searches" method="post">
    <input type="text" name="search" placeholder="Enter a title or author" required>
        <fieldset>
            <label for="title">
                <span>Title</span>
                <input type="radio" name="search" value="title" required>
            </label>
        </fieldset>
        <fieldset>
            <label for="author">
              <span>Author</span>
              <input type="radio" name="search" value="author" required>
            </label>
          </fieldset>
          <button type="submit">Search the Google Books API</button>
        </form>
        <br>
        <section>
          <p>Total Books : <%= bookArray.length %></p>
            <ul id=dbBooks>
            <% bookArray.forEach(book => { %>
              <form action="<%=`/DELETE/${book.id}?_method=DELETE` %>" method="post">
                <fieldset>
                  <label><%= book.title %></label>
                  <input class='title' type="text" name="title" value="<%= book.title %>">
                  <br>
                  <label><%= book.author %></label>
                  <input class='author' type="text" name="author" value="<%= book.author %>">
                  <br>
                  <a href='/books/<%=book.id%>'>More details</a></li>
                  <button type='submit'>Delete books</button>
                </fieldset>
              </form>
              <% }) %>
            </ul>
          </section>
</body>
</html>