//this is a partial to render the details of a book for saving

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Book Detail</title>

<section>
  <ul>
    <li data-id="">
      <h4>Book title: <%= bookObj.title %></h4>
      <p>Author(s): <%= bookObj.author %></p>
      <p>Book Description: <%= bookObj.book_description %></p>
      <img link="<%= bookObj.img_link %>"</p>
      <p>ISBN13: <%= bookObj.ISBN_13 %></p>
      <p>ISBN10: <%= bookObj.ISBN_10 %></p>
      <p>Genre: <%= bookObj.categories %></p>
    </li>
  </ul>
  
  <form method="POST" action="/books">
    <fieldset>
      <label>Title</label>
      <input class='title' type="text" name="title" value="<%= bookObj.title %>">
      <br>
      <label>Author</label>
      <input class='author' type="text" name="author" value="<%= bookObj.author %>">
      <br>
      <label>Description</label>
      <textarea class='description' name="book_description" rows='5'> <%= bookObj.book_description %> </textarea>
      <br>
      <label>Categories</label>
      <input class='categories' type="text" name="categories" value="<%= bookObj.categories %>">
      <br>
      <label>ISBN 10</label>
      <input class='ISBN' type="text" name="ISBN_10" value="<%= bookObj.ISBN_10 %>">
      <br>
      <label>ISBN 13</label>
      <input class='ISBN' type="text" name="ISBN_13" value="<%= bookObj.ISBN_13 %>">
      <button type='submit'>Save</button>
    </fieldset>
  </form>
</section>