// this is a partial to render the api results

<% bookObj.forEach( book => {  %>
    <li data-id="">
      <h4>Book title: <%= book.title %></h4>
      <p>Author(s): <%= book.author %></p>
      <p>Book Description: <%= book.book_description %></p>
      <img src="<%= book.image %>">
      <p>ISBN13: <%= book.ISBN_13 %></p>
      <p>ISBN10: <%= book.ISBN_10 %></p>
      <p>Genre: <%= book.categories %></p>
    </li>
<% }); %>

