// this is a partial to render the api results

<section>
  <ul>
    <li data-id="">
      <h4>Book title: <%= bookObj.title %></h4>
      <p>Author(s): <%= bookObj.author %></p>
      <p>Book Description: <%= bookObj.book_description %></p>
      <img link="<%= bookObj.img_link %>"</p>
      <p>ISBN13: <%= bookObj.ISBN_13 %></p>
      <p>ISBN10: <%= bookObj.ISBN_10 %></p>
      <p>Genre: <%= bookObj.categories %></p>
    </li>
  </ul>

</section>